@font-face {
    font-family: "Updock";
    src: url("../assets/fonts/Updock/Updock-Regular.ttf");
}

@font-face {
    font-family: "Roboto";
    src: url("../assets/fonts/Roboto/Roboto-Medium.ttf");
}
@font-face {
    font-family: "Roboto-light";
    src: url("../assets/fonts/Roboto/Roboto-Light.ttf");
}

*,*::before,*::after
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    font-family: "Roboto";
}

body{
    position: relative;
}

.introduction
{
    width: 100%;
    
    height: 100vh;
    min-height: 100vh;
    overflow: hidden;
    position: absolute;
    z-index: 0;
    img{
        object-fit: cover;
        width: 100%;
        height: 100%;
        z-index: 0;

        transform: translateY(-20%);
        animation: animateImg 2s 2s forwards;
        
        @keyframes animateImg {
            from{
                transform: translateY(-20%);
            }
            to{
                transform: translateY(0%);
            }
        }
    }

    &__title
    {
        position: absolute;
        z-index: 2;
        inset: 0;
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 2rem;
        h1{
            font-size: 13vw;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-weight: 500;
            color: rgb(255, 255, 255); 
            mix-blend-mode: difference;
            height: 13vw;
            overflow: hidden;
            
            .E{
                font-family: "Updock";
                font-size: inherit;
                font-weight: inherit;
                font-weight: 600;
                font-size: 17vw;
                font-weight: 400;
            }
            .copyright
            {
                font-size: 5vw;
                text-align: top;
            }

            div{
                transform: translateY(100%);
                animation: animateLetter 1.2s .5s forwards;
                @keyframes animateLetter {
                    from{
                        transform: translateY(100%);
                    }
                    to{
                        transform: translateY(0%);
                    }
                }
            }
        }

        &::before
        {
            position: absolute;
            content: "";
            inset: 0;
            background: white;
            transform: scaleY(1);
            transform-origin: bottom;

            animation: animateBg 2s 2s forwards cubic-bezier( 0.53, 0.13, 0.12, 1 );
            @keyframes animateBg {
                from{
                    transform: scaleY(1);
                }
                to{
                    transform: scaleY(0);
                }
            }
        }
    }
}

.indicator
{
    width: 40px;
    background: rgb(248, 248, 248);
    border-right: 1px solid lightgray;
    position: absolute;
    left: 0;
    min-height: 100vh;
}

main
{
    position: absolute;
    z-index: 0;
    transform: translateY(100vh);
    background: white;
    //transform-origin: top;
    @keyframes animateMain {
        from{
            transform: translateY(100vh);
        }to{
            transform: translateY(0);
        }
    }
    
    animation: animateMain 2s 5s forwards cubic-bezier( 0.76, 0.03, 0.14, 1.01 );

    position: relative;
    .content
    {
        height: 110vh;
    }

    header
    {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 4rem;
        .logo
        {
            font-family: "Updock";
            font-size: 6rem;
        }
        ul{
            display: flex;
            li{
                font-size: .8rem;
                cursor: pointer;
                position: relative;
                &::before
                {
                    content: "";
                    position: absolute;
                    top: 100%;
                    height: 2px;
                    width: 100%;
                    background: black;
                    transform: scaleX(0);
                    transform-origin: right;
                    transition: transform .4s ;
                }

                &:hover
                {
                    &::before
                    {
                        transform: scaleX(1);
                        transform-origin: left;
                    }
                }
            }
            li:not(li:first-of-type)
            {
                margin-left:2rem;
            }
        }
    }
    
    .img-container
    {
        position: absolute;
        img{
            height: 100%;
            width: 100%;
            object-fit: cover;
            transform: translateY(40%);
            animation: animateContentImg 2s 5s forwards cubic-bezier( 0.76, 0.03, 0.14, 1.01 );
        }
    }

    .img-container1
    {
        top: 0;
        left: 40vw;
        height: 30vh;
        width: 25vw;
    }
    .img-container2
    {
        right: 0;
        top: 18vw;
        height: 50vh;
        width: 20vw;
    }
    .img-container3
    {
        left: 40px;
        top: 17vh;
        height: 30vh;
        width: 10vw;
    }

    .img-container4
    {
        left: 40px;
        top: 80vh;
        height: 30vh;   
        width: 25vw;
    }

    .hero-title
    {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        h1{
            font-size: 2.7vw;
            text-align: center;
            font-weight: 400;
            line-height: 4vw;
            font-family: "Roboto-light";
            text-transform: uppercase;
        }
    }

    @keyframes animateContentImg {
        from{
            transform: translateY(40%);
        }to{
            transform: translateY(0%);
        }
    }
}